.toppage{
    height: 60px;
    background-image: url("pictures/grey-back.jpg");
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color: whitesmoke;
	margin-bottom: 50px;
}

body{
    background-color: #5c5c5c;
    color: whitesmoke;
}

#bookBut{
    margin-bottom: 50px;
}

.bodypage{
    margin: 50px;
}

#infoButton{
    margin-top: 90px;
    margin-bottom: 100px;
}

#cancel{
    margin-bottom: 50px;
}

#cancel{
    margin-top: 50px;
}

