.toppage{
    height: 60px;
    background-image: url("pictures/grey-back.jpg");
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color: whitesmoke;
	margin-bottom: 50px;
}

body{
    background-color: #cecece;
}

.bodypage{
    margin: 50px;
}

